
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    position: sticky;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

header {
    top: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.logo-title:hover {
    text-decoration: none ;
    color: #f39c12;
}

.logo-title img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.logo-title h2 {
    font-size: 1.5em;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
    display: inline-block;
}

.menu li a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: #f39c12;
    color: #2c3e50;
}

.menu-aldeias {
    cursor: pointer;
    position: relative;
}

.lista-aldeias {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #34495e;
    list-style: none;
    padding: 10px;
    margin: 0;
    display: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}


.lista-aldeias li {
    margin: 5px 0;
}

.lista-aldeias li a {
    padding: 5px 10px;
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 4px;
}

.lista-aldeias li a:hover {
    background-color: #f39c12;
    color: #2c3e50;
}

.menu-aldeias:hover .lista-aldeias,
.menu-aldeias:focus-within .lista-aldeias {
    display: block;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-top: 10px;
        width: 100%;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .menu li a {
        width: 100%;
        text-align: left;
    }
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
}

form {
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

form button {
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #f39c12;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    background-image: url('imagens/footer.png');
    background-size: cover;
    background-position: center;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
}


.close-button {
    padding-left: 15px;
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
    z-index: 2;
}

.close-button:hover {
    color: #000;
}

@keyframes modal-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modal-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

.video-background {
    position:static;
    overflow: hidden;
    width: 100%;
    height: fit-content;
}

.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100 vh;
    pointer-events: none;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 1125px) {
    .video-overlay {
        display: none;
    }
}

.video-overlay h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.video-overlay p {
    font-size: 1.25em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    opacity: 0.8;
}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
} 

.aspect-ratio-container {
    position: relative;
    width: 45%;
    padding-top: 29%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.aspect-ratio-container-village {
    position: relative;
    width: 95%;
    height: 800px;
    padding-top: 29%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 35px;
}

.footer-slideandvideo {
    margin-top: 150px;
    background-image: url('imagens/footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 35px 0px 35px 35px rgba(0, 0, 0, 0.1);
    border-radius: 40px 40px 0px 0px;
    padding: 40px;
}
.carousel-inner {
    display: flex;
    align-items: center;
    height: 100%;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
}

.carousel-caption {
    position: absolute;
    font-size: 1em;
    color: rgb(223, 223, 223);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
    margin: 0px 0px 35px 25.1%;
    padding: 10px 0px 10px 0px;
    max-width: 20%;
}

#slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slideshow1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.project-description {
    text-align: center;
    margin: 30px 0px 90px 0px;
    padding: 20px 15%;
    font-size: 1.1em;
    color: #333;
}

.project-description hr {
    width: 60%;
    margin: 15px auto;
    border: 0;
    height: 1px;
    background-color: #ccc;
}

.project-description p {
    margin: 20px 0;
    line-height: 1.6;
    font-style: italic;
    color: #666;
}

.project-description b {
    color: #2c3e50;
}

.village-description {
    text-align: center;
    margin: 30px 0px 90px 0px;
    padding: 20px 15%;
    font-size: 1.1em;
    color: #333;
}

.village-description hr {
    width: 60%;
    margin: 15px auto;
    border: 0;
    height: 1px;
    background-color: #ccc;
}

.village-description p {
    margin: 20px 0;
    line-height: 1.6;
    font-style: italic;
    color: #666;
}

.village-description b {
    color: #2c3e50;
}

.highlights {
    padding: 60px 5%;
    padding-bottom: 100px;
    color: #333;
    text-align: left;
    line-height: 1.6;
}

.highlights p {
    margin-bottom: 20px;
}

.highlights ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 20px;
}

.highlights li {
    margin-bottom: 15px;
}

.line-content {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 0px 7.4%;
    margin-bottom: 20px;
}

.line-content .content-image {
    flex: 1;
}

.line-content .content-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content-text {
    flex: 1;
}

.content-text h3 {
    font-size: 1.8em;
    color: #2c3e50;
    margin-bottom: 10px;
}

.content-text p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

.content-text b {
    color: #2c3e50;
}

.line-content-2 .content-image { order: 1; }
.line-content-2 .content-text { order: 2; }

.line-content-3 .content-image { order: 2; }
.line-content-3 .content-text { order: 1; }

.line-content-4 .content-image { order: 1; }
.line-content-4 .content-text { order: 2; }

.line-content-5 .content-image { order: 2; }
.line-content-5 .content-text { order: 1; }

.line-content-6 .content-image { order: 1; }
.line-content-6 .content-text { order: 2; }

.village-title {
    color: #2c3e50;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
}

.village-title-div {
    border-radius: 0px 0px 40px 40px;
    padding: 60px 40px 0px 40px;
}

.mapa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.accordion {
    width: 85%;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #34495e;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    user-select: none;
    transition: background 0.3s ease;
}

.accordion-header:hover {
    background: #2c3e50;
}


.accordion-header .icon {
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0 20px;
    font-size: 1em;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    box-sizing: border-box;
}

.accordion-content.show {
    padding-top: 15px;
}

.accordion-content.show .ultimo {
    padding-bottom: 15px;
}


.accordion-header.open .icon {
    transform: rotate(90deg);
}

.videoandweather {
    margin-bottom: 10px;
}

.videoandweather .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 85%;
    margin: 0 auto;
}

.videoandweather .aspect-ratio-container {
    width: 80%;
    padding-top: 28%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.videoandweather .village-title {
    font-size: 1.8em;
}

#forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
}

#forecast-container .day {
    flex: 1 1 calc(25% - 20px);
    width: 140px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#forecast-container img {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px auto;
    display: block;
}

#forecast-container .day p {
    margin: 5px 0;
    text-align: center;
}

#forecast-container .day b {
    color: #2c3e50;
}

@media (max-width: 1700px) {
    .videoandweather .content-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .videoandweather .aspect-ratio-container {
        width: 100%;
        padding-top: 56.25%;
    }

    #forecast-container .day {
        flex: 1 1 calc(33.33% - 20px);
        max-width: 120px;
    }
}

@media (max-width: 768px) {
    #forecast-container .day {
        flex: 1 1 calc(50% - 20px);
        max-width: 100px;
    }

    .videoandweather .aspect-ratio-container {
        padding-top: 70%;
    }
}